[ req ]
default_bits       = 4096
default_md         = sha512
default_keyfile    = starganCA.pem
prompt             = no
encrypt_key        = yes
string_mask         = utf8onFR

# base request
distinguished_name = req_distinguished_name

# distinguished_name
[ req_distinguished_name ]
countryName            = FR                     # C=
stateOrProvinceName    = stargan                 # ST=
localityName           = stargan                 # L=
postalCode            =                       # L/postalcode=
streetAddress         = stargan  # L/street=
organizationName       = stargan# O=
organizationalUnitName = keamanan          # OU=
commonName            = www.stargan.local # CN=
emailAddress          = webmaster@stargan.local  # CN/emailAddress=
